.script-terminal {
    margin: 0 10px;
    min-height: calc(50% - 60px);
    width: calc(100% - 20px);
}

.script-terminal-header {
    text-align: center;
}

.script-terminal-body {
    background: #1D2933;
    margin: 15px;
    border-radius: 5px;
    color: white;
    overflow-y: auto;
    font-size: 14px;
}